.topBlockContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    width: 100%;
    background-color: #313131;
    padding: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
}

.topBlockTitle {
    text-transform: uppercase;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
}

.topBlockSubtitle {
    text-transform: uppercase;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
}

.topBlockContainer span {
    margin: 10px 0;
    display: block;
    line-height: 1.5;
    text-align: center;
}