.block5 {
    display: flex;
    background-color: rgba(31, 31, 31, 0.35);
    height: 505px; 
    width: 100%;
    flex-direction: column;
    }
    .block5top{
    display: flex;
    width: 100%;
    height: 80%;
    gap: 10%;
    justify-content: center;
    }

    
    .block5_content_block {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    
    
    
    height: 280px; 
    width: 290px; 
    background-color: #363636;
    border-radius: 8px; 
    transition: transform 0.3s, box-shadow 0.3s; 
    }
    
    .block5_content_block:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    }
    
    .block5_content_block h2 {
    font-family: 'Press Start 2P', system-ui;
    
    text-transform: uppercase;
    margin: 20% 0 15% 0; 
    width: 100%;
    font-size: 30px;
    color: #fff; 
    }
    
    .block5_content_block span {
    font-size: 18px;
    text-align: center;
    font-family: 'JetBrains Mono';
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    }
    
    .block5buttom{
    display: flex;
    font-family: 'Press Start 2P', system-ui;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    width: 100%;
    height: 20%;
    justify-content: center;
    }
    