.header{
    position: absolute;
    display: flex;
    align-items: center;
    height: 89px;
    width: 100%;
}
.header img{
    margin-left: 20%;
    height: 42px;
    width: 153.11px;
}
.header nav{
    display: flex;
    margin-left: auto;
    margin-right: 20%;
    gap: 20px;
}
.header nav a{
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    size: 15px;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 1.8px;
    transition: background-color 0.3s; 
}
.header nav a:hover {
    color: lightgray; 
    
}