body{
    background-color: #252525;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

.mainblock{
    height: 950px;
    width: 100%;

    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    background-image: url('../assets/landing/backgrounds/bgmaintop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

}

.mainblock img{
    width: 568px;
    height: 156px;
}

.blocklanding{
    height: 100%;
    width: 80%;
    margin-left: 10%;
    background-color: #252525;

    background-image: url('../assets/landing/backgrounds/bgmain.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.block2{
    display: flex;
    flex-direction: row;
    height: 676px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);

}

.block2left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 50%;
    height: 100%;
    
}

.block2topimg{
    display: flex;
    justify-content: flex-start;
    background-size: cover;
    width: 100%;
    height: 50%;
    
}


.block2topimg img{
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}


.block2right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.block2buttomimg{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.block2buttomimg img{
    width: 70%;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    
}

.info{
    width: 70%;
    height: 50%;
    display: flex;
    padding: 6%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info span{
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
    font-weight: 200;
}

.block3{

    background-color: rgba(38,38,38,0.5);

    height: 547px;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 28px;
    
    
    color: #FFFFFF;
    
    font-family: 'JetBrains Mono';
    font-size: 20px;
    letter-spacing: 2.4px;
    text-align: center;
    font-weight: bold;



}
.block3 span{
    text-indent: 5%;
    word-spacing: 2%;
    line-height: 1.4em;
    width: 65%;
    text-align: center;
    text-transform:capitalize;
}

.block3 a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-indent: 1%;
    width: 302px;
    height: 65px;
    background-color: #363636;
}

.block3 button{
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    width: 50px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'JetBrains Mono';
    background-color: #363636;
    border-radius: 100%;
}

.block4{
    margin-top: 0;
    background-color: rgba(38,38,38,0.32);
    height: 785px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.block4 span{
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 6%;
    text-transform: uppercase;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}

.block4middle{
    margin-top: 10%;
    width: 100%;
    position: relative;
}

.block4button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 370px;
    width: 63%;
    position: absolute;
        background-color: #222222;
        left: -15%; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 1;
    display: flex;
    flex-direction: column; 
}
.block4buttoncontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}
.block4button span{
    margin-top: 12%;
    width: 70%;
    font-size: 20px;
    font-family: 'JetBrains Mono';
    text-transform: uppercase;

}
.block4button button{
    
    margin-top: 5%;
    border: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background-color: #363636;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono';
    height: 60px;
    width: 33%;
}

.block4middle img{
    
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    width: 423px;
    height: 370px;
    float: right;
}
.content-link {
    text-decoration: none;
    color: inherit;
    display: block; 
    height: 100%; 
}

.block5 {
display: flex;
background-color: rgba(31, 31, 31, 0.35);
height: 505px; 
width: 100%;
flex-direction: column;
}
.block5top{
display: flex;
width: 100%;
height: 80%;
gap: 10%;
justify-content: center;
}


.block5_content_block {
margin-top: 1%;
display: flex;
flex-direction: column;

align-items: center;
text-align: center;



height: 280px; 
width: 22%; 
background-color: #363636;
border-radius: 8px; 
transition: transform 0.3s, box-shadow 0.3s; 
}

.block5_content_block:hover {
transform: translateY(-5px); 
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.block5_content_block h2 {
font-family: 'Press Start 2P', system-ui;

text-transform: uppercase;
margin: 20% 0 15% 0; 
width: 100%;
font-size: 30px;
color: #fff; 
}

.block5_content_block span {
font-size: 18px;
text-align: center;
font-family: 'JetBrains Mono';
text-transform: uppercase;
width: 100%;
color: #fff;
}

.block5buttom{
display: flex;
font-family: 'Press Start 2P', system-ui;
text-transform: uppercase;
font-size: 30px;
color: #fff;
width: 100%;
height: 20%;
justify-content: center;
}

