.rulesPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../../../assets/request/backgrounds/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.rulesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color: #2D2D2D;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.rulesTitle {
    margin: 0 0 40px 0;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.rulesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ruleSection {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
}

.ruleSectionDark { 
    background-color: #313131; 
}

.ruleSectionLight { 
    background-color: #404040; 
}

.ruleSection span {
    margin: 8px 0;
    display: block;
    line-height: 1.5;
    text-align: center;
}

.ruleSection ul {
    margin: 15px auto 0 auto;
    padding: 0;
    text-align: left;
    max-width: 90%;
    list-style-position: inside;
}

.ruleSection li {
    margin: 8px 0;
    line-height: 1.5;
    text-align: left;
}

.rulesFooter {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: #313131;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
}

.rulesFooter span {
    margin: 10px 0;
    display: block;
    line-height: 1.5;
}